@{
    ViewData["Title"] = "Home Page";
}
@model Fintrak.TRMS.PageDTO.FormNCXPageDTO

<div class="mt-4">
    <ul class="nav nav-tabs" id="formTabs">
        <li class="nav-item">
            <a class="nav-link active" id="tabPendingFormNCX" data-bs-toggle="tab" href="#tabContentPendingFormNCX">Pending Form NCX</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tabProcessedFormNCX" data-bs-toggle="tab" href="#tabContentProcessedFormNCX">Processed NCX List</a>
        </li>
    </ul>

    <div class="tab-content mt-2">
        <div class="tab-pane fade show active" id="tabContentPendingFormNCX">
            <div class="page_layout">
                <div class="sarh">
                    <h2>Pending Form-NCX Application</h2>
                    <div class="mb-3 col-3">
                        <form asp-action="FormNCX" asp-controller="Home" class="sarh" method="get">
                            <input type="text" class="form-control" id="applicationId" name="applicationId" placeholder="Search..." />
                            <button class="btn btn-primary" type="submit">Search</button>
                        </form>
                    </div>
                </div>

                <div style="overflow-x: auto;  width: 100%;">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Applicant ID</th>
                                <th>Applicant Name</th>
                                <th>Application Number</th>
                                <th>Form Number</th>
                                <th>Estimated Goods Value (N)</th>
                                <th>Current Stage Date</th>
                                <th>Status</th>
                                <th>Processing Bank Name</th>
                                <th>Processing Bank Code</th>
                                <th>Processing Bank Branch Name</th>
                                <th>Last Modified</th>
                                <th>Date Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.PendingFormNCX != null && Model.PendingFormNCX.ResponseResult != null && Model.PendingFormNCX.ResponseResult.Content != null)
                            {
                                @foreach (var d in Model.PendingFormNCX.ResponseResult.Content)
                                {
                                    <tr class="pending-clickable-row" onclick="window.location.href='@Url.Action("FormNCXDetails", "Home", new { applicationId = d.Id })'">
                                        <td>@d?.Id</td>
                                        <td>@d?.ApplicantId</td>
                                        <td>@d?.ApplicantName</td>
                                        <td class="applicationNumber">@d?.ApplicationNumber</td>
                                        <td>@d?.FormNumber</td>
                                        <td>@d?.EstimatedValueOfGoodsNaira</td>
                                        <td>
                                            @(
                                        DateTimeOffset.FromUnixTimeMilliseconds(d.CurrentStageDate ?? 0).UtcDateTime.ToString("dd MMM yyyy")
                                    )
                                        </td>
                                        <td>
                                            <div class="stage">
                                                @(
                                            d?.Status?.ToUpper()
                                            )
                                            </div>
                                        </td>
                                        <td>@d?.ProcessingBankName</td>
                                        <td>@d?.ProcessingBankCode</td>
                                        <td>@d?.ProcessingBankBranchName</td>
                                        <td>
                                            @(
                                        DateTimeOffset.FromUnixTimeMilliseconds(d.UpdatedAt ?? 0).UtcDateTime.ToString("dd MMM yyyy")
                                    )
                                        </td>
                                        <td>
                                            @(
                                        DateTimeOffset.FromUnixTimeMilliseconds(d.CreatedAt ?? 0).UtcDateTime.ToString("dd MMM yyyy")
                                    )
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <pagination-controls></pagination-controls>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tabContentProcessedFormNCX">
            <div class="page_layout">
                <div class="sarh">
                    <h2>Processed Form-NCX Application</h2>
                    <div class="mb-3 col-3">
                        <form asp-action="FormNCX" asp-controller="Home" class="sarh" method="get">
                            <input type="text" class="form-control" id="applicationId" name="applicationId" placeholder="Search..." />
                            <button class="btn btn-primary" type="submit">Search</button>
                        </form>
                    </div>
                </div>

                <div style="overflow-x: auto;  width: 100%;">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Applicant ID</th>
                                <th>Applicant Name</th>
                                <th>Application Number</th>
                                <th>Form Number</th>
                                <th>Estimated Goods Value (N)</th>
                                <th>Current Stage Date</th>
                                <th>Status</th>
                                <th>Processing Bank Name</th>
                                <th>Processing Bank Code</th>
                                <th>Processing Bank Branch Name</th>
                                <th>Last Modified</th>
                                <th>Date Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ProcessedFormNCX != null && Model.ProcessedFormNCX.ResponseResult != null && Model.ProcessedFormNCX.ResponseResult.Content != null)
                            {
                                @foreach (var d in Model.ProcessedFormNCX.ResponseResult.Content)
                                {
                                    <tr class="processed-clickable-row" onclick="window.location.href='@Url.Action("FormNCXDetails", "Home", new { applicationId = d.Id })'">
                                        <td>@d?.Id</td>
                                        <td>@d?.ApplicantId</td>
                                        <td>@d?.ApplicantName</td>
                                        <td class="applicationNumber">@d?.ApplicationNumber</td>
                                        <td>@d?.FormNumber</td>
                                        <td>@d?.EstimatedValueOfGoodsNaira</td>
                                        <td>
                                            @(
                                        DateTimeOffset.FromUnixTimeMilliseconds(d.CurrentStageDate ?? 0).UtcDateTime.ToString("dd MMM yyyy")
                                    )
                                        </td>
                                        <td>
                                            <div class="stage">
                                                @(
                                            d?.StatusCode
                                            )
                                            </div>
                                        </td>
                                        <td>@d?.ProcessingBankName</td>
                                        <td>@d?.ProcessingBankCode</td>
                                        <td>@d?.ProcessingBankBranchName</td>
                                        <td>
                                            @(
                                        DateTimeOffset.FromUnixTimeMilliseconds(d.UpdatedAt ?? 0).UtcDateTime.ToString("dd MMM yyyy")
                                    )
                                        </td>
                                        <td>
                                            @(
                                        DateTimeOffset.FromUnixTimeMilliseconds(d.CreatedAt ?? 0).UtcDateTime.ToString("dd MMM yyyy")
                                    )
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <pagination-controls></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
